node_modules/
.env
.env.local
.env.*.local
dist/
build/
.cache/
.vercel
**/*.log
.vscode/

# Frontend specific
frontend/node_modules/
frontend/dist/
frontend/.env.local

# Contracts specific
contracts/artifacts/
contracts/cache/
contracts/typechain-types/
